{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
New Content
{{ end }}

{{ define "content" }}
<h1>New Content</h1>
{{ template "content-form-new" . }}
{{ end }}

{{ define "submenu" }}
{{ template "menu" . }}
{{ end }}
