{{ define "header" }}
<header class="bg-blue-600 text-white p-2 flex items-center">
    <img src="/static/img/logo.png" alt="Logo" class="w-12 h-12 mr-4">
    <nav class="flex-1">
        <ul class="flex space-x-4">
            <li class="border-r border-white/10 px-3"><a href="/auth/list-users" class="text-white">Home</a></li>
            <li><a href="/ssg/new-content" class="text-white">Content</a></li>
            <li><a href="/ssg/new-section" class="text-white">Sections</a></li>
            <li><a href="/ssg/new-layout" class="text-white">Layout</a></li>
        </ul>
    </nav>
</header>
{{ end }}
